{{ $page := . }}

<div>
  <ul class="link-icon fa-ul" aria-hidden="true">
    {{ range $page.Params.internal_links }}
      {{ $pack := or .icon_pack "fas" }}
      {{ $pack_prefix := $pack }}
      {{ $pack_li := "fa-li" }}
      {{ if in (slice "fab" "fas" "far" "fal") $pack }}
        {{ $pack_prefix = "fa" }}
      {{ end }}
      {{ $link := .link }}
      {{ $scheme := (urls.Parse $link).Scheme }}
      {{ $target := "" }}
      {{ if not $scheme }}
        {{ $link = .link | relLangURL }}
      {{ else if in (slice "http" "https") $scheme }}
        {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
      {{ end }}
      <li>
        <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>
          <i class="{{ $pack_li }} {{ $pack }} {{ $pack_prefix }}-{{ .icon }}"></i>
          <span>{{ .title }}</span>
        </a>
      </li>
    {{end}}
  </ul>
</div>
